body,h1 {font-family: "Raleway", sans-serif}
body,html {
  height: 100%;
}

.bgimg {
  background-image: url('dork.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

.color {
  background-color: #ffe6cc;
}

.title {
  color: red;
}

.main {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 50px;
  /* background-color: red; */
}
